@import "../../mixins/lists";
.header {
  padding: 40px 0;
  border-bottom: 1px solid gray;
  background-color: $primary;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.header_logo {
  position: absolute;
  left: 0;
}

.header__nav {
}

.header__nav-list {
  @include listReset;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__nav-item {
}

.header__nav-link {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: $white;
}
